<p>model-filter works!</p>
<form [formGroup]="filterForm">
  <select formControlName="brandSelect" (change)="onBrandChange()">
    <option *ngFor="let brand of brandList" value="{{brand.id}}">{{brand.name | uppercase}}</option>
  </select>

  <select formeControlName="modelSelect" (change)="selectedModelId(modelSelect.value)" #modelSelect>
    <option *ngFor="let model of modelList" value="{{model.id}}">{{model.name | uppercase}} {{model.year}}</option>
  </select>
</form>

<!--<a routerLink="/clientlistpart">Pièces</a>-->
