
<form [formGroup]="addBrandForm" (ngSubmit)="addBrand()">
  <div class="withEspace">
  <input type="hidden" id="id" formControlName="id">
  <label for="name">Nom :</label>
  <input id="name" type="text" required formControlName="name">
  <button type="submit"
          class="btn btn-success mb-2 btnAdd"
  > Ajouter une marque
  </button>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Identifiant</th>
    <th>Date de Mise A jour</th>
    <th>Name</th>
    <th>Disable</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let brand of brandList">
    <td>{{brand.id}}</td>
    <td>{{brand.addDate | date: "dd/MM/YYYY"}}</td>
    <td>{{brand.name}}</td>
    <td>
      <button class="btn btn-primary mb-2">Disable</button>
    </td>
  </tr>
  </tbody>

</table>
