<h1>Gestion des Pièces</h1>


<app-model-filter (newModelIdEvent)="initModelId($event)"></app-model-filter>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Réf</th>
    <th scope="col">Description</th>
    <th scope="col">Prix Public</th>
    <th scope="col">Prix Négocié</th>
    <th scope="col">stock</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let part of parts; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <input #referenceValue class="form-control" type="text" (change)="updateReference(referenceValue.value, part)" value="{{ part.reference }}">
    </td>
    <td><input class="form-control" #descriptionValue type="text" (change)="updateDescription(descriptionValue.value, part)" value="{{ part.description}}"></td>
    <td><input #publicPriceValue class="form-control" type="text" (change)="updatePublicPrice(publicPriceValue.value, part)" value="{{ part.publicPrice }}"></td>
    <td><input #privatePriceValue class="form-control" type="text" (change)="updatePrivatePrice(privatePriceValue.value, part)" value="{{ part.minimumPrice }}"></td>
    <td><input #stockValue class="form-control" type="text" (change)="updateStock(stockValue.value, part)" value="{{ part.stock }}"></td>
  </tr>
  </tbody>
</table>

