h1 {
  color: rgb(88, 19, 116);
  padding-left: 10%;
  font-size: 2em;
}

.navbar-default {
  background-color: rgb(88, 19, 116);
  height: 70px;
  color: white;
  padding-left: 100px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: darkgrey;
}

.centred{
  margin-left: auto;
  margin-right: auto;
width: 20%;
  margin-top: 7px;
}
