h1 {
  color: rgb(88, 19, 116);
  padding-left: 10%;
  font-size: 2em;
}

.navbar-default {
  background-color: rgb(88, 19, 116);
  height: auto;
  color: white;
  font-weight: bold;
}

.navbar-default .nav > li > a {
  color: white;
}


.centred {
  margin-left: auto;
  margin-right: auto;

  width: 50%;
  text-align: center;
  margin-top: 7px;

}

.btnAdd {
  margin-left: 1%;
}

.withEspace{
  margin-top: 3%;
  margin-bottom: 3%;
}
